In [ ]:
#1 print your address
def personal_details():
    name = "Gopika Gopinathan" 
    address = "Choorakkuttiyil(H),Kulathoor P.O,Vaipur,Pathanamthitta, India"
    print("Name: {}\n Address: {}".format(name, address))

personal_details()

Name: Gopika Gopinathan
 Address: Choorakkuttiyil(H),Kulathoor P.O,Vaipur,Pathanamthitta, India

In [ ]:
#2 Display future leap years from current year to a final year entered by user
y=int(input("Enter the final year : "))
print("Future Leap Years from 2021 : ")
for x in range (2021,y+1):
  if((x%4==0) and (x%100!=0)) or (x%400==0):
    print(x)

Enter the final year : 2031
Future Leap Years from 2021 :
2024
2028

In [ ]:
#3a Generate positive list of numbers from a given list of integers
mylist=[25,28,-11,100,-50,81,43,-32]
print("First list : ",mylist)
newlist=[x for x in mylist if x > 0]
print("New list : ", newlist)

First list :  [25, 28, -11, 100, -50, 81, 43, -32]
New list :  [25, 28, 100, 81, 43]

In [ ]:
#3b Square of N numbers
mylist=[2,3,4,5,6]
print("First list : ",mylist)
newlist=[number ** 2 for number in mylist]
print("New list : " ,newlist)

First list :  [2, 3, 4, 5, 6]
New list :  [4, 9, 16, 25, 36]

In [ ]:
#3c Form a list of vowels selected from a given word
word= input("Enter a word: ") 
vowels=[ 'a' , 'e' , 'i' , 'o' , 'u' ]
list=[]
for x in word:
  if(x in vowels and x not in list):
     list.append(x)
print("vowels present in the given word is: ",list)

Enter a word: beautiful
vowels present in the given word is:  ['e', 'a', 'u', 'i']

In [ ]:
#3 (d)List ordinal value of each element of a word (Hint: use ord() to get ordinal values)
w=input("enter any word : ")
for l in range(len(w)) :
  print("ASCII value is",w[l],"is",ord(w[l]))

enter any word : day
ASCII value is d is 100
ASCII value is a is 97
ASCII value is y is 121

In [ ]:
#4 Count the occurrences of each word in a line of text.
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

In [ ]:
#5.Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead.
x=[]
n=int(input("enter any integers :"))
for i in range(1,n+1):
  a=int(input())
  if (a>100):
    x.append('over')
  else:
    x.append(a)
print("modified list :" ,x)

enter any integers :4
50
100
200
300
modified list : [50, 100, 'over', 'over']

In [ ]:
#6 Store a list of first names. Count the occurrences of ‘a’ within the list
name =input("Enter the first names : ")
list = []
count = 0
for x in name:
 list.append(x)
 if(x in name and x == 'a'):
   count = count + 1
print(count)

Enter the first names : Gopika Gayathri
3

In [ ]:
#7 Enter 2 list of integers.
#a) check whether lists are of same length
list1 = [1, 2, 4, 3, 8] 
list2 = [1, 2, 4, 3, 5] 
print ("The first list is : " + str(list1)) 
print ("The second list is : " + str(list2)) 
l1 = len(list1)
l2 = len(list2)
print("Length of list1 : " , l1 , "and Length of list2 : " , l2)
if l1 == l2: 
    print ("The lists are of same length") 
else : 
    print ("The lists are of different length")

The first list is : [1, 2, 4, 3, 8]
The second list is : [1, 2, 4, 3, 5]
Length of list1 :  5 and Length of list2 :  5
The lists are of same length

In [ ]:
#7b check whether lists sums to same value
list1 = [1, 2, 4, 3, 8] 
list2 = [1, 2, 4, 3, 5] 
print ("The first list is : " + str(list1)) 
print ("The second list is : " + str(list2)) 
sum1 = 0
sum2 = 0
for x in range(0, len(list1)):
    sum1 = sum1 + list1[x]
print("Sum of all elements in given list1 : ", sum1)
for x in range(0, len(list2)):
    sum2 = sum2 + list2[x]
print("Sum of all elements in given list2 : ", sum2)    
if( sum1 == sum2):
  print("Lists sums to same value")
else:
  print("Lists sums to different value")

The first list is : [1, 2, 4, 3, 8]
The second list is : [1, 2, 4, 3, 5]
Sum of all elements in given list1 :  18
Sum of all elements in given list2 :  15
Lists sums to different value

In [10]:
#7c  Check whether any value occur in both
list1 =[1,2,4,3,8]
list2 =[1,2,4,3,5]
print ("The first list is : " + str(list1))
print ("The second list is : " + str(list2))
print ("The values occur in both lists : ")
for x in list1:
    if(x in list1 and x in list2):
      print(x)

The first list is : [1, 2, 4, 3, 8]
The second list is : [1, 2, 4, 3, 5]
The values occur in both lists :
1
2
4
3

In [ ]:
#8 Replace all occurance of first character with $ except first character
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]
  return str1

print(change_char('onion'))

oni$n

In [ ]:
#9 Create a string from given string where first and last characters exchanged
a=input("Enter a string : ")
print("New string : ")
print(a[-1] + a[1:-1] +a[0])

Enter a string : python
New string :
nythop

In [ ]:
#10 Accept the radius from user and find area of circle.
r=float(input("Enter radius of circle : "))
pi=3.14
area=pi * r * r
print("Area = " , area)

Enter radius of circle : 2
Area =  12.56

In [ ]:
#11 Find biggest of 3 numbers entered
a = float(input("Enter first number : "))
b = float(input("Enter second number : "))
c = float(input("Enter third number : "))

if (a > b) and (a > c):
  largest= a
elif (b > a) and (b > c):
    largest= b
else:
      largest = c
print("The largest number is ", largest)

Enter first number : 50
Enter second number : 45
Enter third number : 30
The largest number is  50.0

In [ ]:
#12 Accept a file name from user and print extension of that.
filename = input("enter the filename : ")
f_extns = filename.split(".")
print ("the extension of the file : " + repr(f_extns[-1]))

enter the filename : mylist.css
the extension of the file : 'css'

In [ ]:
#13 Create a list of colors from comma-separated color names entered by user. Display first and last colors.
word = input("Enter the colors : ")
color_list = word.split(",")
print("The color list is : " , color_list)
print("The first and last colors are : ")
print( "%s %s"%(color_list[0],color_list[-1]))

Enter the colors : Red, blue,Green,Yellow
The color list is :  ['Red', ' blue', 'Green', 'Yellow']
The first and last colors are :
Red Yellow

In [ ]:
#14 Accept an integer n and compute n+nn+nnn
a = int(input(" enter an integer : "))
n1 = int("%s" % a )
n2 = int("%s%s" % (a,a) )
n3 = int("%s%s%s" % (a,a,a))
print (n1+n2+n3)

 enter an integer : 5
615

In [ ]:
#15.Print out all colors from color-list1 not contained in color-list2.
color_list_1 = set(["White" ,"Yellow","Blue","Red"])
color_list_2 = set(["Green" ,"Violet" , "Orange","Red"])
print(color_list_1.difference(color_list_2))

{'Blue', 'White', 'Yellow'}

In [ ]:
16#Create a single string separated with space from two strings by swapping the character at position 1
def chars_mix_up(a, b):
  str1 = a[0] + b[1] + a[2:]
  str2 = b[0] + a[1] + b[2:]

  return str1 + ' ' + str2
print(chars_mix_up('abc', 'xyz'))

ayc xbz

In [ ]:
#17.Sort dictionary in ascending and descending order
y={'John':34 , 'Tom':25 , 'Chris':36}
l=list(y.items())
l.sort()
print("ascending order:" ,1)
l=list(y.items())
l.sort(reverse = True)
print("descending order: ", 1)
dict = dict(1)
print("dictionary",dict)

In [ ]:
#18.Merge two dictionaries
dict1 ={"a" :100 , "b" :200}
dict2 ={"x" :300 , "y" :400}
newdict = dict1.copy()
newdict.update(dict2)
print("Merged dictionary : " ,newdict)

Merged dictionary :  {'a': 100, 'b': 200, 'x': 300, 'y': 400}

In [ ]:
#19 Find gcd of 2 numbers
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
i = 1
while(i <= num1 and i <= num2):
  if(num1 % i == 0 and num2 % i == 0):
    gcd = i
  i = i + 1
print("GCD is", gcd)

Enter 1st number: 60
Enter 2nd number: 48
GCD is 12

In [ ]:
#20 From a list of integers, create a list removing even numbers
list = [1,2,3,4,5,6,7,8,9,10]
print("original list : ",list)
for i in list:
  if(i%2 == 0):
    list.remove(i)
print("List after removing all even numbers : ",list)

original list :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List after removing all even numbers :  [1, 3, 5, 7, 9]